*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
body{
    background-color: rgb(244, 244, 237);
}
.QuoteBox{
    padding: 5px;
    margin-top:80px ;
    background-color: azure;
    transform: perspective();
    border-radius: 15px;
    
}
blockquote{
    display: show;
}
h1{
    font-family:Monospace;   
}

#New{
    background-color: aqua;   /* color of button*/
    border-radius: 4px;
    font-size: 17px;

    
}
#tweets{
    background-color: white; 
    font-size: 17px;
}
